/* 
Nombre Completo: David Steven Medina Urrego
Clan: Gates
Fecha: 08/04/2024
*/

/* IMPORTACIONES */
@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* VARIABLES */
:root {
    --color-negro: #000000;
    --color-blanco: #f1f1f1;
    --color-rojo: red;
    --color-azul: blue;
}

/* RESET */
* {
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* BODY */
.body {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    letter-spacing: 1.2px;
    line-height: 1.1;
    color: var(--color-blanco);

    & .video {
        min-width: 100%;
        top: 0;
        position: fixed;
        z-index: -1000;
    }
}

/* HEADER */
.header {
    max-width: 100vw;
    max-height: 20vh;
    background-color: var(--color-negro);
    font-size: 1.4rem;

    & .nav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .div {
            display: flex;
            flex-direction: row;
            gap: 10px;

            & .img {
                width: 40%;
            }

            & .ul {
                display: flex;
                gap: 15px;
                align-items: center;
                list-style: none;
                padding-left: 15px;
            }
        }

        & .div--01 {
            padding-left: 1%;
        }

        & .div--02 {
            padding-right: 1%;
            gap: 35px;
            padding-right: 55px;
        }
    }
}

/* MAIN */
/* SECTION GENERAL */
.section {
    max-width: 100vw;
    padding-top: 20px;

    & .article {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* SECTION 2 */
.section--2 {
    .article {
        display: flex;
        flex-wrap: wrap;
        max-width: 100vw;
        flex-direction: column;
        height: fit-content;

        & .container {
            display: flex;
            width: 85%;
            flex-direction: row;
            justify-content: space-around;
            padding: 20px;
            margin: 60px 10px;

            & .div {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 30%;
                height: 500px;

                & .img {
                    width: 100%;
                    height: 80%;
                }

                & .h3 {
                    font-size: 1.5rem;
                    text-align: center;
                }
            }
        }
    }
}

/* SECTION 3 */
.section--3 {
    margin-top: 100px;

    & .article {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        & .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0px 20px;

            & .div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 22%;
                margin: 70px 10px;

                & .img {
                    max-width: 100%;
                }

                & .h2 {
                    text-decoration-line: underline;
                    text-align: center;
                    line-height: 1.5;
                    margin: 10px;
                }

                & .button {
                    font-size: 1.13rem;
                    padding: 15px 25px;
                    border-radius: 70px;
                    margin: 15px;
                    text-decoration-line: underline;
                    font-weight: bold;
                }

                & .button:hover {
                    border-right: 5px solid var(--color-azul);
                    border-left: 5px solid var(--color-rojo);
                }
            }
        }
    }
}

/* SECTION 4 */
.section--4 {
    margin: 70px 10px;

    & .article {
        display: flex;
        flex-direction: column;

        & .h2 {
            font-weight: bold;
            font-size: 2.5rem;
        }

        & .p {
            font-size: 1.9rem;
            font-weight: bold;
        }

        & .container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 5px;
            border-bottom: 1px solid var(--color-blanco);

            & .div {

                & .p {
                    font-weight: normal;
                    font-size: 1.5rem;
                }

                & .button {
                    font-size: 1.4rem;
                    padding: 15px 45px;
                    border-radius: 70px;
                }

                & .button:hover {
                    border-right: 5px solid var(--color-azul);
                    border-left: 5px solid var(--color-rojo);
                }
            }
        }

        & .container--41 {
            margin-top: 50px;
            border-top: 1px solid var(--color-blanco);
        }


    }
}

/* SECTION 5 */
.section--5 {
    & .article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px 0px;

        & .div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 70px 5px;

            & .h3 {
                font-size: 2.1rem;
                margin: 15px 0px;
            }

            & .h3--52 {
                font-size: 2.5rem;
            }

            & .p {
                font-weight: bold;
                font-size: 1.5rem;
                margin: 10px 0px;
            }

            & .button {
                font-size: 1.5rem;
                font-weight: bold;
                padding: 25px 35px;
                border-radius: 70px;
                margin: 10px 0px;
            }

            & .button:hover {
                border-right: 5px solid var(--color-azul);
                border-left: 5px solid var(--color-rojo);
            }

        }

    }
}

/* FOOTER */
.footer {
    margin-top: 200px;

    & .div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        gap: 30px;
        margin: 30px 0px;

        & .ul {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            gap: 35px;
            font-size: 1.15rem;

            & .li {
                padding-left: 10px;
            }

            & .li--1 {
                padding-left: 0px;
                list-style: none;
            }

        }

    }
}